<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <h1>Hello!</h1>
        <% if(user) { %>
            <h2>Welcome, <%= user.first_name %> <%= user.last_name %></h2>
            <% if(!user.is_member) { %>
                <h3>Would you like to become a member?</h3>
                <a href="update-membership">Update membership</a>
            <% } %> 
        <% } %>
    </body>
</html>
