<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Secret club</title>
        <link rel="stylesheet" href="reset.css" />
        <link rel="stylesheet" href="index.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <div class="main-container">
            <header>
                <% if(!user) { %>
                <div class="not-logged-in-container">
                    <h1>Hello!</h1>
                    <div class="login-container">
                        <h3>You're not logged in.</h3>
                        <p>Create an account and confirm your membership for full access</p>
                        <a href="/login">Login</a>
                    </div>
                </div>
                <% } else {%>
                <div class="logged-in-container">
                    <h1>Welcome back, <%= user.first_name %> <%= user.last_name %>!</h2>
                    <% if(!user.is_member) { %>
                    <div class="update-membership-container">
                        <h3>Become a member now:</h3>
                        <a href="update-membership">Update membership</a>
                    </div>
                </div>
                <% } %> <% } %>
            </header>
            <%- include('messages', {messages: messages}) %>
        </div>
        <nav>
            <% if(user) { %>
            <form action="/logout" method="POST" class="logout-button">
                <button type="submit">Logout</button>
            </form>
            <a href="/new-message" class="new-message">New Message</a>
            <% } %>
        </nav>
    </body>
</html>
