<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Secret club</title>
        <link rel="stylesheet" href="reset.css" />
        <link rel="stylesheet" href="newMessage.css" />
        <link rel="stylesheet" href="errors.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <h1>New message</h1>
        <% if (locals.errors && errors.length > 0) { %> <%- include("errors", { errors: errors }) %> <% } %>
        <form action="/new-message" method="POST" class="new-message-form">
            <div class="input-container">
                <label for="title">Title:</label>
                <input
                    type="text"
                    name="title"
                    id="title"
                    placeholder="Insert your title here"
                    required
                />
            </div>
            <div class="input-container">
                <label for="text">Message:</label>
                <textarea
                    name="text"
                    id="text"
                    placeholder="Insert your message here"
                    rows="6"
                    cols="50"
                    required
                ></textarea>
            </div>
            <div class="button-container">
                <a href="/" class="cancel">Cancel</a>
                <button type="submit">Send</button>
            </div>
        </form>
    </body>
</html>
