<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Secret club</title>
        <link rel="stylesheet" href="reset.css" />
        <link rel="stylesheet" href="signup.css" />
        <link rel="stylesheet" href="errors.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <h1>Sign up:</h1>
        <% if (locals.errors && errors.length > 0) { %> <%- include("errors", { errors: errors }) %>
        <% } %>
        <form action="/signup" method="POST">
            <div class="input-container">
                <label for="firstName">First Name:</label>
                <input type="text" name="firstName" id="firstName" required />
            </div>
            <div class="input-container">
                <label for="lastName">Last Name:</label>
                <input type="text" name="lastName" id="lastName" required />
            </div>
            <div class="input-container">
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" required />
            </div>
            <div class="input-container">
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" required />
            </div>
            <div class="input-container">
                <label for="confirmPassword">Confirm Password:</label>
                <input
                    type="password"
                    name="confirmPassword"
                    id="confirmPassword"
                    required
                />
            </div>
            <div class="button-container">
                <a href="/" class="cancel">Cancel</a>
                <button type="submit">Sign up</button>
            </div>
        </form>
    </body>
</html>
