body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin: 2rem 1rem;
}

body > h1 {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

input {
    padding: 0.3rem 0.5rem;
    width: 16rem;
}

.button-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button[type="submit"], .cancel {
    padding: 0.5rem 1rem;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
    transition: background-color 0.2s;
}

button[type="submit"] {
    background-color: #007bff;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.cancel {
    background-color: #dc3545;
    text-decoration: none;
}

.cancel:hover {
    background-color: #a71d2a;
}
